[submodule "third_party/crossbench"]
	path = third_party/crossbench
	url = https://chromium.googlesource.com/crossbench
[submodule "third_party/webpagereplay"]
	path = third_party/webpagereplay
	url = https://chromium.googlesource.com/webpagereplay
	gclient-condition = not build_with_chromium
